# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
Hardware/Penguin Junior.zip
Hardware/PiezoSensorBoard/PiezoSensorBoard.PrjPcbStructure
Hardware/PiezoSensorBoard/__Previews/ADC.SchDocPreview
Hardware/PiezoSensorBoard/__Previews/MCU.SchDocPreview
Hardware/PiezoSensorBoard/__Previews/Power.SchDocPreview
Hardware/PiezoSensorBoard/History/ADC.~(1).SchDoc.Zip
Hardware/PiezoSensorBoard/History/MCU.~(1).SchDoc.Zip
Hardware/PiezoSensorBoard/History/ADC.~(2).SchDoc.Zip
Hardware/PiezoSensorBoard/History/PiezoSensorBoard.~(1).PrjPcb.Zip
Hardware/PiezoSensorBoard/History/PiezoSensorBoard.~(2).PrjPcb.Zip
Hardware/PiezoSensorBoard/History/Power.~(1).SchDoc.Zip
